
<div class="row">
    <div class="col-xs-12">
        <a href="#/" class="btn btn-success">Back</a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-6">
        <div class="card">
            <img class="card-img-top" src="<%= image %>" alt="movie title" style="width:100%">
        </div>
    </div>
    <div class="col-xs-6">
            <h5><%= title %></h5>
            <p>some description of the movie Lorem Iptiusm of the moview trailer</p>
        <a href="#add/<%= id %>" class="btn btn-primary addToCart">Add to cart</a>
        </div>
    </div>

</div>
